<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
          http://www.springframework.org/schema/beans/spring-beans.xsd">

    <bean id="user" class="csku.expense.Users">
        <constructor-arg value="1"/>
        <constructor-arg value="6499"/>
        <constructor-arg value="thikamporn"/>
        <constructor-arg value="0.0"/>
    </bean>

    <bean id="dataSource" class="org.springframework.jdbc.datasource.DriverManagerDataSource">
        <property name="driverClassName" value="org.sqlite.JDBC" />
        <property name="url" value="jdbc:sqlite:expense.db" />
    </bean>

    <bean id="jdbcTemplate" class="org.springframework.jdbc.core.JdbcTemplate">
        <property name="dataSource" ref="dataSource" />
    </bean>

    <bean id="expenseDAOImp" class="csku.expense.ExpenseDAOImp">
        <constructor-arg ref="jdbcTemplate" />
    </bean>

</beans>